<div class="conteiner-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="create-dialog" ng-controller='CreateController'>
				<form name="form" role=form>
					<div>
						<div class="text-center">
							<h2>Create Notebook</h2>
						</div>
					</div>
					<div class="form-group">
						<div>
							<center>
								<br />
								<input ng-model='vm.name' class="form control input-lg" type="text" required placeholder="Title your notebook">
								<div role="alert">
									<span ng-show="form.input.$error.required">Name is required!</span>
								</div>
							</center>
						</div>
					</div><br />
					<div class="form-group">
					<center>
						<a ui-sref="home.list-notebook" type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="vm.createNotebook()">Create</a>
						<a ui-sref="home" class="btn btn-default">Cancel</a>
					</center>
					</div>			
				</form>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../../assets/css/createNotebook.css">
