<div class="conteiner-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="create-dialog">
				<div class="overlay">
					<form name="form" method="post" ng-controller="NbController as vm">
						<div class="col-lg-12">
							<div class="text-center">
								<h2>{{vm.title}}</h2>
							</div>
						</div>
						<div class="row">
							<div>
								<center>
									<br />
									<input ng-model="title" class="form control input-lg" type="text" name="title" placeholder="Title your notebook">
									<div role="alert">
										<span class="error" ng-show="form.input.$error.required">Title is required!</span>
									</div>
								</center>
							</div>
						</div><br />
						<center>
							<button ng-click="create" class="btn btn-primary"><a href="#"></a>Create</button>
							<a href="localhost:8080/index.html" class="btn btn-link">Cancel</a>
						</center>			
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/css/createNotebook.css">