<div class="conteiner-fluid">
	<div class="row-fluid">
		<div class="col-md-3"  ng-controller='ListController'>
			<div class="panel panel-default" ng-submit="vm.getAllNotebooks()">
				<div class="panel-heading">A list of all notebooks</div>
				<div class="panel-body">
					<ul ng-repeat="note in vm.notebooks">
						<li><a ui-sref="#">{{note.name}}</a></li>
					</ul>
					<a ui-sref="home.create-notebook" type="submit" class="btn btn-primary">Create</a>
					<a ui-sref="home.list-notebook" class="btn btn-danger">Delete</a>
					<a ui-sref="home" class="btn btn-default">Cancel</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Notebook</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<ul ng-repeat="note in notes"
								<a ui-sref="#" class="btn btn-info btn-lg" role="button">{{note}}</a>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../../assets/css/createNotebook.css">