.panel {
  	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom:10px;

	margin: 50px 0 0 0;
	font-weight: 300;
}

.panel-heading {
  	background-color: #fff;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  	font-weight: 300;
  }

.panel-primary {
  	border-color: #ddd; 
}

.panel-primary > .panel-heading {
  	color: #333;
  	background-color: #f5f5f5;
  	border-color: #ddd;
 }

.create-dialog {
	background-image: url('../../assets/images/notebook.jpg');
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom:10px;

	margin: 50px 0 0 0;
	font-weight: 300;
}
.text-center {
	color: darkorange;
}

.btn-primary {
	width: 37%;
}