* {
	font-family: Lobster;
}

.jumbotron {
	background-image:url('../images/header-cover.jpg');
	background-size:cover;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	color: darkorange;
}

.navbar {
	margin-bottom: 0;
}

#logo {
	font-size: 300%;
	color: darkorange;
}