<div class="col-md-4 col-md-offset-4">
	<h2>{{vm.loginTitle | lowercase}}</h2>
	<form name="form" ng-submit="vm.login()" role=form>
		<div class="form-group" ng-class="{ 'has-error': form.e_mail.$dirty && form.e_mail.$error.required}">
			<label for="e_mail">Email</label>
			<input type="email" name="e_mail" id="e_mail" class="form-control" ng-model="vm.user.e_mail" required />
			<span ng-show="form.e_mail.$dirty && form.e_mail.$error.required" class="help-block">Email is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Log In</button>
            <a ui-sref="home.signup" class="btn btn-link">Don't have an account?!</a>
        </div>
	</form>
	<div id="img-container">
		<img id="register-img" src="../../../assets/images/note-reg.jpg">
	</div>
</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../../../assets/css/auth.css">
